:root {
  --red: #fa0644;
  --darkred: #a90000;
  --lightgrey: #f7f7f7;
  --grey: #f1f2f6;
  --darkgrey: #a6a6a6;
  --mediumgrey: #cacacb;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--darkgrey);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

#app-container {
  position: relative;
}

.mapboxgl-marker {
  cursor: pointer;
}
