/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 45%;
  left: 0;
  margin: 4px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background-color: var(--darkred);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute;
  min-height: 30px;
  min-width: 30px;
  top: 45% !important;
  left: 100% !important;
  margin: 4px;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  color: black;
  overflow-y: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #ffffff;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--red);
}

/* Individual item */
.bm-item {
  outline: none;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

/* .bm-item:hover {
  background: white;
} */

/************* Containers *************/
#search-container {
  padding: 1em 1em 0.2em 1em;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px var(--grey);
}
