:root {
  --red: rgb(236, 26, 64);
  --darkred: #a90000;
  --grey: #f1f2f6;
  --darkgrey: #a6a6a6;
  --mediumgrey: #cacacb;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--mediumgrey);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

#app-container {
  position: relative;
}